.conteudo{
  background-color: rgb(0, 0, 0);
  border-radius: 60px;
  padding: 20px;
  margin-top: 30%;
}

.conteudo > h1{
  font-weight: bolder;
  margin-bottom: 10px;
}

.form-control{
  margin-bottom: 15px;
}

.borderCustom{
  border: 5px #305055 solid;
}

